<!-- <div class="border-double border-4 border-black my-2 p-2">

    <h1 class="text-center">How to Order</h1>
    <ul>
        <li class="my-2 mx-6 bulleted">Click on our <a href="/menu.html">Menu</a> and decide which delicious Pizzas you would
            like to order!
        </li>

        <li class="my-2 mx-6">Remember to check our <a href="{{site.facebook}}">Facebook page</a> for <b>weekly
            specials</b>, promotions, and any changes to our weekly opening hours due to holidays etc.
        </li>

        <li class="my-2 mx-6 bulleted">Choose your delivery <b>day</b> and preferred delivery <b>time-slot</b>.</li>

        <li class="my-2 mx-6"><b>Delivery days</b> are <b>Friday & Saturday</b>.</li>

        <li class="my-2 mx-6"><b>Delivery slots</b> are <b>every 20 mins</b> from <b>5pm</b> till <b>9pm</b>
            <br>(e.g. 5pm, 5.20pm, 5.40pm, 6pm etc.)
        </li>

        <li class="my-2 mx-6 bulleted">Call us on <a href="tel:{{site.telephone}}">{{site.telephone}}</a> any time between
            <b>11am and 9pm, Wednesday-Saturday</b> to place your order. 
            Remember, ordering in advance really helps us as a business and guarantees you the delivery time-slot that you want.
        </li>

        <li class="my-2 mx-6">We will take a <b>card payment</b>, (plus your delivery address and a contact number),
            then your order will be booked in!
        </li>

        <li class="my-2 mx-6 bulleted">Look forward to the arrival of your <b>delicious Pizza!</b></li>

        <li class="my-2 mx-6"><b>Please allow (approx.) 15 mins leeway</b> either side of your quoted delivery time.
        </li>
    </ul>

</div> -->
