<div class="text-center">
    <div class="text-2xl">
        <p><b>Delivery Hours:</b>Fri, & Sat, 5pm - 9pm</p>
        <p>Orders can be placed in advance by telephone <a href="tel:{{site.telephone}}">{{site.telephone}}</a> from <b>11am to 9pm Wednesday to Saturday.</b></p>
    </div>
    <p class="text-sm">
        <b>N.B</b> During delivery hours (5pm-9pm) we are liable to be very busy and may not be able to answer the phone, so are not always able to answer the phone. But if you leave a message we will get back to you as soon as we can to take your order.
    </p>
</div>