---
---

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    font-size: 17px;
    @apply text-gray-900;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply my-3;
  }
  h2 {
    @apply text-xl;
    @apply font-semibold;
    @apply my-2;
  }
  p {
    @apply my-2;
  }
  .nav-item {
    @apply text-3xl;
    @apply text-gray-300;
    @apply hover:text-white;
    @apply mb-3;
    @apply sm:mb-0;
  }
}

.svg-icon {
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

#how-to-order li:nth-child(1) {
  list-style-type: disc;
}

#how-to-order li:nth-child(2) {
  list-style-type: disc;
}

#how-to-order li:nth-child(6) {
  list-style-type: disc;
}

#how-to-order li:nth-child(10) {
  list-style-type: disc;
}
