@tailwind base;

a {
    text-decoration: underline;
}

@tailwind components;

@tailwind utilities;

.svg-icon {
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}

.marquee-reel {
    animation: moveSlideshow 3s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-520px);
  }
}

.marquee:hover div {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}