@tailwind base;

@tailwind components;

@tailwind utilities;

.svg-icon {
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}